<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p>Enter your phrase:</p>

      <form method="post" action="/">
        <p>Input your text here:</p>
        <text name="user_phrase"></text>
        <br>
        <button type="submit" value="submit">Submit</button>
      </form>

  </body>
</html>
